@import "tailwindcss";


html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* Hide scrollbar but keep scroll */
.no-scrollbar,
html,
body {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.no-scrollbar::-webkit-scrollbar,
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}